body 
{
  background-image: url('images/green.jpg');
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 
{
  text-align: center;
  font-family:verdana;
  color: rgb(0, 150, 0);
  text-shadow:1px -1px 0 black;
}
div
{
	border: 5px;
	border-style: inset;
	padding: 10px;
	border-radius: 60px 20px;
	width: 200px;
	background-color: rgb(0, 102, 0, 0.3); 
    font-family: Verdana;
	font-size: 20px;
	color: #989898;
    text-shadow:1px -1px 0 black;
	word-wrap: break-word;
	border-bottom-color: #C0C0C0;
	border-right-color: #C0C0C0;
	cursor: pointer;
	text-align: center;
	transition: 0.2s;
}
div:hover
{
	background-color: rgb(0, 102, 0, 0.6); 
	color: white;
}
#altitude
{
  text-align: center;
  font-family:courier;
  font-size: 20px
}
.empty
{
	text-align: center;
	height:200px;
	font-size: 20px;
	color: #989898;
}
